:root{
  --primary:#6366f1;
  --primary-light:#818cf8;
  --primary-dark:#4f46e5;
}

/* Navbar */

.navbar{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  z-index:1000;

  background: radial-gradient(circle at top,
  #1f2937,
  #111827,
  #020617); 

  border-bottom:1px solid rgba(255,255,255,0.1);
  font-family:'Cairo',sans-serif;
  
}

/* container */

.navbar-container{
  max-width:1200px;
  margin:auto;
  padding:14px 20px;

  display:flex;
  align-items:center;
  justify-content:space-between;
}

/* logo */

.navbar-logo{
  display:flex;
  align-items:center;
  gap:10px;
  cursor:pointer;
}

.navbar-logo img{
  height:38px;
  border-radius:8px;
}

.navbar-logo span{
  font-size:22px;
  font-weight:800;

  background:linear-gradient(90deg,#818cf8,#a78bfa);
  -webkit-background-clip:text;
  color:transparent;
}

/* links */

.nav-links{
  list-style:none;
  display:flex;
  gap:35px;
}

.nav-links a{
  text-decoration:none;
  color:#d1d5db;
  font-size:16px;
  font-weight:500;
  transition:0.25s;
}

.nav-links a:hover{
  color:#818cf8;
}

/* active */

.nav-links li.active a{
  color:#818cf8;
}

/* button */

.navbar-button button{
  padding:8px 18px;
  border-radius:8px;
  border:none;
  font-weight:600;
  cursor:pointer;

  background:linear-gradient(90deg,#6366f1,#a855f7);
  color:white;

  transition:0.25s;
}

.navbar-button button:hover{
  opacity:0.9;
}

/* hamburger */

.hamburger{
  display:none;
  flex-direction:column;
  gap:5px;
  cursor:pointer;
}

.hamburger span{
  width:25px;
  height:3px;
  background:white;
  border-radius:3px;
  transition:0.3s;
}

/* animation */

.hamburger.active span:nth-child(1){
  transform:rotate(45deg) translate(5px,5px);
}

.hamburger.active span:nth-child(2){
  opacity:0;
}

.hamburger.active span:nth-child(3){
  transform:rotate(-45deg) translate(5px,-5px);
}

/* mobile */
.disable{
  display:none;
}
@media(max-width:768px){

  .disable{
    display:block;
  }
  .hamburger{
    display:flex;
  }

  .nav-links{
    position:absolute;
    top:70px;
    left:0;
    width:100%;

    background:rgba(0,0,0,0.85);
    backdrop-filter:blur(10px);

    flex-direction:column;
    align-items:center;
    gap:20px;

    padding:25px 0;

    transform:translateY(-200%);
    transition:0.35s;
  }

  .nav-links.open{
    transform:translateY(0);
  }

  .navbar-button{
    display:none;
  }
}